<lf-form name="optimization"
         title="5. Optimization Options"
         [isRequired]="true">

  <lf-form-content>

  	<div class="row">
      <div class="col">
        <lf-radio #lfRadioBlock
                  name="optimizerSelection"
                  [options]="options"
                  [isRequired]="true"
        ></lf-radio>
      </div>
  	</div>

    <br/>
    <h5>Single Objective Algorithm</h5>
	 
    <div class="row mt-3">
      <div class="col">
          <lf-checkbox name="coralReefOptimization"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Coral Reef Optimization"></lf-checkbox>
          <lf-checkbox name="diferencialEvolution"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Diferencial Evolution"></lf-checkbox>
          <lf-checkbox name="cmaes"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Covariance Matrix Adaptation Evolution Strategy"></lf-checkbox>
      </div>

      <div class="col">
          <lf-checkbox name="ees"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Elitist Evolution Strategy"></lf-checkbox>
          <lf-checkbox name="nees"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Non Elitist Evolution Strategy"></lf-checkbox>
          <lf-checkbox name="gga"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Generational Genetic Algorithm"></lf-checkbox>
      </div>

      <div class="col">
          <lf-checkbox name="ssga"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Steady State Genetic Algorithm"></lf-checkbox>
          <lf-checkbox name="pwo2007"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Particles Warm Optimization - PSO2007"></lf-checkbox>
          <lf-checkbox name="pwo2011"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Particles Warm Optimization - PSO2011"></lf-checkbox>
      </div>
    </div>

    <br/>
    <h5>Multi Objective Algorithm</h5>
   
    <div class="row mt-3">
      <div class="col">
          <lf-checkbox name="abyss"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="AbYSS"></lf-checkbox>
          <lf-checkbox name="cellde"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="Cell DE"></lf-checkbox>
          <lf-checkbox name="dmopso"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="dMOPSO"></lf-checkbox>
          <lf-checkbox name="dmopsom"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="dMOPSO Measures"></lf-checkbox>
          <lf-checkbox name="gde3"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="GDE 3"></lf-checkbox>
          <lf-checkbox name="gwasfga"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="GWASFGA"></lf-checkbox>
          <lf-checkbox name="ibea"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="IBEA"></lf-checkbox>
          <lf-checkbox name="mocell"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOCell"></lf-checkbox>
          <lf-checkbox name="mochc"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOCHC"></lf-checkbox>
          <lf-checkbox name="moead"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOEA/D"></lf-checkbox>
      </div>

      <div class="col">
          <lf-checkbox name="cmoead"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="cMOEA/D"></lf-checkbox>
          <lf-checkbox name="moeaddd"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOEA/D-DD"></lf-checkbox>
          <lf-checkbox name="moeaddra"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOEA/D-DRA"></lf-checkbox>
          <lf-checkbox name="moeadstm"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOEA/D-STM"></lf-checkbox>
          <lf-checkbox name="mombi"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOMBI"></lf-checkbox>
          <lf-checkbox name="mombi2"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="MOMBI2"></lf-checkbox>
          <lf-checkbox name="nsgaii"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="NSGAII"></lf-checkbox>
          <lf-checkbox name="nsgaiim"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="NSGAII Measures"></lf-checkbox>
          <lf-checkbox name="ssnsgaii"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="ssNSGAII"></lf-checkbox>
          <lf-checkbox name="nsgaiii"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="NSGAIII"></lf-checkbox>
      </div>

      <div class="col">
          <lf-checkbox name="omopso"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="OMOPSO"></lf-checkbox>
          <lf-checkbox name="paes"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="PAES"></lf-checkbox>
          <lf-checkbox name="pesa2"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="PESA 2"></lf-checkbox>
          <lf-checkbox name="randomsearch"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="RANDOM SEARCH"></lf-checkbox>
          <lf-checkbox name="smpso"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="SMPSO"></lf-checkbox>
          <lf-checkbox name="smpsom"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="SMPSO Measures"></lf-checkbox>
          <lf-checkbox name="smsemoa"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="SMSEMOA"></lf-checkbox>
          <lf-checkbox name="spea2"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="SPEA 2"></lf-checkbox>
          <lf-checkbox name="wasfga"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="WASFGA"></lf-checkbox>
          <lf-checkbox name="wasfga"
                       [initialValue]="true"
                       [isDisabled]="isDisabled()"
                       label="WASFGA Measures"></lf-checkbox>
      </div>
    </div>

  </lf-form-content>
</lf-form>