<lf-form name="faqs"
         title="7. FAQ's"
         [isRequired]="true">

  <lf-form-content>
    	<div class="row">
      		<div class="col-sm-12" style="padding-bottom: 10px">
        		<strong>Can I do this?</strong>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<p style="text-align: justify; padding-right: 30px">Praesent eu odio sed libero ultrices vulputate vitae vel risus. Pellentesque mauris mauris, aliquam ut nunc pellentesque, pulvinar rhoncus nibh. Aenean placerat rhoncus elementum. Sed pharetra mauris et feugiat iaculis. Maecenas et dictum est. In dapibus nisl nec molestie luctus. Ut ex sapien, placerat tempor suscipit sed, hendrerit sit amet justo. Sed gravida vitae lectus varius consectetur.</p>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12" style="padding-bottom: 10px">
        		<strong>Can I do that?</strong>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<p style="text-align: justify; padding-right: 30px">Sed pharetra mauris et feugiat iaculis. Maecenas et dictum est. In dapibus nisl nec molestie luctus. Ut ex sapien, placerat tempor suscipit sed, hendrerit sit amet justo. Sed gravida vitae lectus varius consectetur. Mauris condimentum magna id nulla hendrerit finibus. Curabitur vitae magna id urna pharetra aliquet viverra non massa.</p>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12" style="padding-bottom: 10px">
        		<strong>And can I do those?</strong>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<p style="text-align: justify; padding-right: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra mauris et feugiat iaculis. Maecenas et dictum est. In dapibus nisl nec molestie luctus. Ut ex sapien, placerat tempor suscipit sed, hendrerit sit amet justo. Sed gravida vitae lectus varius consectetur. Mauris condimentum magna id nulla hendrerit finibus. Curabitur vitae magna id urna pharetra aliquet viverra non massa.</p>
      		</div>
    	</div>
  </lf-form-content>
</lf-form>