h1 {
  color: rgba(51, 102, 102,1);;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 180%;
}

h3 {
  background-color: rgba(51, 102, 102,1); font-size:2rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

