<!--The content below is only a placeholder and can be replaced.-->
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class='row'>
  <div class="container" style="text-align: center; padding: 20px; margin-bottom: 20px">
    <img width="200" alt="Nemesis Logo" src="/assets/logo.png">
    <h3>Nêmesis - Optimization Results Report</h3>
  </div>
</div>

<div class='row'>
  <div class='col-sm-4'>
    <div class="container">
      <div class="well well-sm" style="width: 45%; margin-left: 20px">
        <h4>Problem Name: {{chartTitle}}</h4>

        <ul class="list-group">
          <li class="list-group-item"><strong>Description:</strong> {{chartDescription}}</li>
          <li class="list-group-item"><strong>Output function name:</strong> {{outputsFunction}}</li>
          <li class="list-group-item"><strong>Optimization datetime:</strong> {{optimizationDate}}</li>
          <li class="list-group-item"><strong>Number of solution variables:</strong> {{solutionVariablesNumber}}</li>
          <li class="list-group-item"><strong>Optimization process time:</strong> {{processTime.toFixed(2)}} {{timeScale}}</li>
          <li class="list-group-item"><strong>User email:</strong> {{userEmail}}</li>
          <li class="list-group-item">Thank you for using Nêmesis Optimizer. To download the solution check the URL on your mail.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class='col-sm-8'>
    <div class="container" style="width: 100%;">
      <canvas id="barChart"></canvas>
    </div>
  </div>
</div>

