<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" alt="Nemesis Logo" src="/assets/logo.png">
</div>
<h2>Here are some links to help you start: </h2>

<div style="width:950px">
	<h3>Bar Chart </h3>
	<canvas id="barChart" width="300" height="123" class="chartjs-render-monitor" style="display: block; "></canvas>
	<h3>Radar Chart </h3>
	<canvas id="radarChart" width="300" height="123" class="chartjs-render-monitor" style="display: block; "></canvas>
</div>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

