<lf-form name="introdution"
         title="1. Introdution"
         [isRequired]="true" 
         [isDefault]="true">

  <lf-form-content>
  		<div class="row">
      		<div class="col-sm-12">
        		<h3 style="text-align: center">Welcome to Nêmesis</h3>
      		</div>
    	</div>

      <div class="row">
          <div class="col-sm-12">
            <img style="margin-top: 30px; margin-bottom: 30px" src="/assets/logo.png">
          </div>
      </div>

      <div class="row">
          <div class="col-sm-12">
            <h5>How to use:</h5>
          </div>
      </div>

    	<div class="row">
      		<div class="col-sm-12">
        		<p style="text-align: justify; padding-right: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat leo at orci suscipit faucibus. Praesent eu odio sed libero ultrices vulputate vitae vel risus. Pellentesque mauris mauris, aliquam ut nunc pellentesque, pulvinar rhoncus nibh. Aenean placerat rhoncus elementum. Sed pharetra mauris et feugiat iaculis. Maecenas et dictum est. In dapibus nisl nec molestie luctus. Ut ex sapien, placerat tempor suscipit sed, hendrerit sit amet justo. Sed gravida vitae lectus varius consectetur. Mauris condimentum magna id nulla hendrerit finibus. Curabitur vitae magna id urna pharetra aliquet viverra non massa.</p>
        		
        		<ul style="list-style-type:disc">
  					<li>Main informations</li>
  					<li>Inputs</li>
  					<li>Optimization</li>
  					<li>Results and outputs</li>
				</ul>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<h5>Main Information</h5>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<p style="text-align: justify; padding-right: 30px">Praesent eu odio sed libero ultrices vulputate vitae vel risus. Pellentesque mauris mauris, aliquam ut nunc pellentesque, pulvinar rhoncus nibh. Aenean placerat rhoncus elementum. Sed pharetra mauris et feugiat iaculis. Maecenas et dictum est. In dapibus nisl nec molestie luctus. Ut ex sapien, placerat tempor suscipit sed, hendrerit sit amet justo. Sed gravida vitae lectus varius consectetur.</p>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<h5>Inputs</h5>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<p style="text-align: justify; padding-right: 30px">Sed pharetra mauris et feugiat iaculis. Maecenas et dictum est. In dapibus nisl nec molestie luctus. Ut ex sapien, placerat tempor suscipit sed, hendrerit sit amet justo. Sed gravida vitae lectus varius consectetur. Mauris condimentum magna id nulla hendrerit finibus. Curabitur vitae magna id urna pharetra aliquet viverra non massa.</p>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<h5>Optimization</h5>
      		</div>
    	</div>

    	<div class="row">
      		<div class="col-sm-12">
        		<p style="text-align: justify; padding-right: 30px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra mauris et feugiat iaculis. Maecenas et dictum est. In dapibus nisl nec molestie luctus. Ut ex sapien, placerat tempor suscipit sed, hendrerit sit amet justo. Sed gravida vitae lectus varius consectetur. Mauris condimentum magna id nulla hendrerit finibus. Curabitur vitae magna id urna pharetra aliquet viverra non massa.</p>
      		</div>
    	</div>
  </lf-form-content>
</lf-form>