<lf-form name="fitness-app"
         title="4. Fitness upload"
         [isRequired]="true">

  <lf-form-content>

    <div class="row">
      <div class="col-sm-12">
        <p style="text-align: justify; padding-right: 30px"><strong>Attention:</strong> In the process, the platform assumes that the optimization function intents to minimize the optimization criteria expressed through the fitness functions.</p>
      </div>
    </div>

    <sc-fitness-table name="fitness-table" label="Fitness Table"></sc-fitness-table>
  </lf-form-content>
</lf-form>