<lf-form name="fitness-app"
         title="4. Fitness upload"
         [isRequired]="true">

  <lf-form-content>

    <div class="row">
      <div class="col-sm-12">
        <p style="text-align: justify; padding-right: 30px">Praesent eu odio sed libero ultrices vulputate vitae vel risus. Pellentesque mauris mauris, aliquam ut nunc pellentesque, pulvinar rhoncus nibh. Aenean placerat rhoncus elementum. Sed pharetra mauris et feugiat iaculis.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <lf-text name="URL" code="4.2" title="Fitness URL" label="Fitness URL"></lf-text>
      </div>
    </div>
  </lf-form-content>
</lf-form>