/AdaptiveGridArchive.class
/Archive.class
/CrowdingArchive.class
/HypervolumeArchive.class
/R2Archive.class
/SPEA2DensityArchive.class
/StrengthRawFitnessArchive.class
/WFGHypervolumeArchive.class
