/BestSolutionSelection.class
/BinaryTournament.class
/BinaryTournament2.class
/DifferentialEvolutionSelection.class
/PESA2Selection.class
/RandomSelection.class
/RankingAndCrowdingSelection.class
/Selection.class
/SelectionFactory.class
/WorstSolutionSelection.class
