<lf-form name="mainInformation"
         title="2. Main Information"
         [isRequired]="true">

  <lf-form-content>

    <div class="row">
      <div class="col-sm-6">
        <lf-text name="problemName" title="Problem Name" label="Problem Name" help="Use only uppercase and lowercase letters" 
         [isRequired]="true" [isValid]="nameValidator()"></lf-text>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <lf-textarea name="fullDescription" title="Full Description" label="Full Description"></lf-textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h5 style="padding-top: 20px">Performance Optimization Options</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <lf-number name="averageDuration" title="Average Duration" label="Average Duration"  [isRequired]="true" [initialValue]=30 [min]="0" [max]="60"></lf-number>
      </div>
      <div class="col-sm-2">
        <lf-select name="averageScale" label="Time scale" [options]="optionsScaleInput"></lf-select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <lf-number name="maxDuration" title="Max Duration" label="Max Duration"  [isRequired]="true" [initialValue]="30" [min]="0" [max]="60"></lf-number>
      </div>
      <div class="col-sm-2">
        <lf-select name="maxScale" label="Time scale" [options]="optionsScaleInput"></lf-select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h5 style="padding-top: 20px">User information</h5>
      </div>
    </div>

    <div class="row">
          <div class="col-sm-6">
            <lf-text name="userEmail" title="User email" label="User email"  [isRequired]="true" [isValid]="emailValidator()"></lf-text>
          </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <p style="text-align: justify; padding-right: 30px">Your personnal email will only be use for optimizing process subjects. By submiting a process you agree with the terms.</p>
      </div>
    </div>

  </lf-form-content>
</lf-form>