<lf-form name="inputs"
         title="3. Inputs panel"
         [isRequired]="true">

  <lf-form-content>
    <div class="row">
      <div class="col-sm-6">
        <lf-text name="name" code="1.1" title="Problem Name" label="Problem Name"></lf-text>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <lf-textarea name="fullDescription" code="1.2" title="Full Description" label="Full Description"></lf-textarea>
      </div>
    </div>
  </lf-form-content>

  <sc-create-input-list></sc-create-input-list>
  <sc-create-input-items></sc-create-input-items>

</lf-form>