<lf-table #lfTable name="inputListTable" [isRequired]="true">
  <ng-template #lfTableHeaderTemplate>
    <thead lf-table-header>
    <lf-table-column-index></lf-table-column-index>
    <lf-table-column label="List name"></lf-table-column>
    <lf-table-column label="Type"></lf-table-column>
    <lf-table-column label="Nr variables"></lf-table-column>
    <lf-table-column label="Min value"></lf-table-column>
    <lf-table-column label="Max value (nr bits)"></lf-table-column>
    <lf-table-column label="Description"></lf-table-column>
    </thead>
  </ng-template>

  <ng-template #lfTableRowTemplate let-i="index">
    <tr lf-table-row [index]="i">
      <td lf-table-cell>
        {{i + 1}}
      </td>

      <td lf-table-cell>
        <lf-text name="listName"
                 [isValid]="isValidName()">
        </lf-text>
      </td>
      <td lf-table-cell>
        <lf-select name="type"
                   [options]="optionsTypeInput"
        ></lf-select>
      </td>
      <td lf-table-cell>
        <lf-number name="numberVar"></lf-number>
      </td>
      <td lf-table-cell>
        <lf-number name="minValue" [scale]="2"></lf-number>
      </td>
      <td lf-table-cell>
        <lf-number name="maxValue" [scale]="2"></lf-number>
      </td>
      <td lf-table-cell>
        <lf-text name="description"></lf-text>
      </td>
    </tr>
  </ng-template>
</lf-table>