/ArrayIntSolutionType.class
/ArrayRealAndBinarySolutionType.class
/ArrayRealSolutionType.class
/BinaryRealSolutionType.class
/BinarySolutionType.class
/IntRealSolutionType.class
/IntSolutionType.class
/PermutationSolutionType.class
/RealSolutionType.class
