<lf-form name="main-information"
         title="2. Main Information"
         [isRequired]="true">

  <lf-form-content>

    <div class="row">
      <div class="col-sm-6">
        <lf-text name="name" code="1.1" title="Problem Name" label="Problem Name" help="Use only uppercase and lowercase letters" [isValid]="nameValidator()"></lf-text>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <lf-textarea name="fullDescription" code="1.2" title="Full Description" label="Full Description"></lf-textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h5 style="padding-top: 20px">Performance Optimization Options</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <lf-number name="averageDuration" code="1.3" title="Average Duration" label="Average Duration" [initialValue]=30 [min]="0" [max]="60"></lf-number>
      </div>
      <div class="col-sm-2">
        <lf-select name="averageScale" label="Time scale" [options]="optionsScaleInput"></lf-select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <lf-number name="maxDuration" code="1.4" title="Max Duration" label="Max Duration" [initialValue]="30" [min]="0" [max]="60"></lf-number>
      </div>
      <div class="col-sm-2">
        <lf-select name="maxScale" label="Time scale" [options]="optionsScaleInput"></lf-select>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h5 style="padding-top: 20px">User information</h5>
      </div>
    </div>

    <div class="row">
          <div class="col-sm-6">
            <lf-text name="userEmail" code="1.5" title="User email" label="User email" [isValid]="emailValidator()"></lf-text>
          </div>
      </div>

  </lf-form-content>
</lf-form>